@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.top-bar span{
    font-size: 12px;
    padding: 1px 5px;
    

}
.navbar-nav .nav-link{
    color: black !important;
    font-size: 10px;
    margin: 6px;
    font-weight: 600;
   text-align: left;
}
a#btnchat:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

